* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
}

.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarOption .material-symbols-outlined, .fa-twitter  {
    padding: 20px;
    /* background-color: pink; */
}

/* .fa-twitter {
    padding: 20px;
} */

/* k we did a pretty good job debugging the above rule (the new classes for Google Fonts didn't match the tutorial) but I'm getting really tired and for some reason adding a third class to this rule breaks it???  */
/* Ok just tried a little bit - it does need the comma on line 18, but doesn't need a second one??? */
/* anyway, looks like the tutorial now. let's pause for the night and come back tomorrow <3  11:08 in tutorial*/

.sidebarOption h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOption:hover {
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}

.sidebarOption.active {
    color: var(--twitter-color);
}

.sidebar__tweet {
    width: 100%;
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
}